      <div class="form_block">
        <div class="form_welcome">
          <div class="text"><span>404</span></div>
        </div>
        
              <div class="buttons">
            {{#each buttons}}
            {{>buttonComponent button=.}}
            {{/each}}
             </div>

        </div>
      </div>