<div class="chat_container">
  <div class="left-block">
    <div class="userchat_container">
      <div class="top_block">
        <div class="logo"></div>
        {{#each buttons}}
          {{>buttonComponent button=.}}
        {{/each}}
      </div>
      <div class="search_block">
        <input type="text" placeholder="&#x1F50D">
      </div>
      <div class="userchats_block">
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">5</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">1</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">5</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">3</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">5</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">5</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg"><b>Вы: </b>Ну, привет...</div>
            </div>
            <div class="userchat_content__time">13:05</div>
            {{!-- <div class="userchat_content__count">2</div> --}}
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">5</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">1</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">2</div>
          </div>
        </div>
        <div class="userchat">
          <div class="userchat_avatar"></div>
          <div class="userchat_content">
            <div class="userchat_content__username">Андрей Анисимов
              <div class="userchat_content_msg">Привет, друг!</div>
            </div>
            <div class="userchat_content__time">10:05</div>
            <div class="userchat_content__count">5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>