      <div class="form_block">
        <div class="form_welcome">
          <a href="#" id="avatar" ></a>
          <div class="text"><span>Profile</span></div>
        </div>
        <form class="form">
            {{#each inputs}}
            {{>inputComponent input=.}}
            {{/each}}            
            <div class="buttons">
            {{#each buttons}}
            {{>buttonComponent button=.}}
            {{/each}}
            </div>
        </form>
        </div>
      </div>